.titleFont{
    font-size: 20px;
    font-weight: bold;
  }
  
    .ion-color-white {
    --ion-color-base: #ffffff;
    --ion-color-contrast: #000000;
    }

    

.new
{
    top: 10px;
}
.center {
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
}